{% extends "base.html.twig" %}

{% block title %}
    Catalogue - Behive
{% endblock %}

{% block body %}
    {% include "pages/front/partial/menu.html.twig" %}

    <div id="catalogue" class="main">
        <h2 class="titleCategorieCatalogue">Jeux du moment</h2>

        <div class="flexContent">
            {% for game in games %}
                <div class="item">
                    <a href="">
                        <div class="containImage">
                            <img src="{{ asset(game.cover)}}" alt="">
                            <div class="bgImg"></div>
                        </div>
                        <h3>{{ game.name }}</h3>
                        <h4>
                            {% for category in game.categories %}
                                {{ category.name }}
                            {% endfor %}
                        </h4>
                    </a>
                </div>
            {% endfor %}
        </div>

        <div class="sectionCatalogue">
            <h2 class="titleCategorieCatalogue">Action / Aventure</h2>
            <div class="bgSectionCatalogue sectionAction"></div>
            <div class="flexContent">
                {% for game in games %}
                    <div class="item">
                        <a href="">
                            <h3>{{ game.name }}</h3>
                            <h4>
                                {% for category in game.categories %}
                                    {{ category.name }}
                                {% endfor %}
                            </h4>
                        </a>
                    </div>
                {% endfor %}
                </div>
            <h3 class="hover boutonSubmit">voir plus...</h3>
        </div>

        <div class="sectionCatalogue">
            <h2 class="titleCategorieCatalogue">Plateforme</h2>
            <div class="bgSectionCatalogue sectionPlateforme"></div>
            <div class="flexContent">
                {% for game in games %}
                    <div class="item">
                        <a href="">
                            <h3>{{ game.name }}</h3>
                            <h4>
                                {% for category in game.categories %}
                                    {{ category.name }}
                                {% endfor %}
                            </h4>
                        </a>
                    </div>
                {% endfor %}
            </div>
            <h3 class="hover boutonSubmit">voir plus...</h3>
        </div>

        <div class="sectionCatalogue">
            <h2 class="titleCategorieCatalogue">Driving</h2>
            <div class="bgSectionCatalogue sectionVoiture"></div>
            <div class="flexContent">
                {% for game in games %}
                    <div class="item">
                        <a href="">
                            <h3>{{ game.name }}</h3>
                            <h4>
                                {% for category in game.categories %}
                                    {{ category.name }}
                                {% endfor %}
                            </h4>
                        </a>
                    </div>
                {% endfor %}
            </div>
            <h3 class="hover boutonSubmit">voir plus...</h3>
        </div>

        <ul>
            {% for category in categories %}
                <li>
                    <img src="{{ category.logo }}">
                    <h5>{{ category.name }}</h5>
                </li>
            {% endfor %}
        </ul>

        <div class="filtrer">
            <i class="fa fa-filter fa-2x"></i>
            <h4>Filtrer</h4>
            <div class="tableauFiltrer">
                <div style="clear:both"></div>
            </div>
            <div class="closeFiltre">
                VALIDER
            </div>
        </div>
    </div>
    <!--
        <div class="loader"></div>
        <div class="tuto"><h3>Tirez pour afficher la suite !</h3></div>
    -->
{% endblock %}
