{% extends "base.html.twig" %}

{% block title %}
    Catalogue - Behive
{% endblock %}

{% block body %}
    {% include "pages/front/partial/menu.html.twig" %}

    <div id="catalogue" class="main">
        <h2 class="titleCategorieCatalogue">Jeux du moment</h2>

        <div class="flexContent">
            {% for game in games %}
                <div class="item">
                    <a href="">
                        <div class="containImage">
                            <img src="{{ asset(game.cover)}}" alt="">
                            <div class="bgImg"></div>
                        </div>
                        <h3>{{ game.name }}</h3>
                        <h4>
                            {% for category in game.categories %}
                                {{ category.name }}
                            {% endfor %}
                        </h4>
                    </a>
                </div>
            {% endfor %}
        </div>

        {% include "pages/front/partial/_module_category.html.twig" with {category: action} %}

        {% include "pages/front/partial/_module_category.html.twig" with {category: fps} %}

        {% include "pages/front/partial/_module_category.html.twig" with {category: rpg} %}

        <ul>
            {% for category in categories %}
                <li>
                    <img src="{{ category.logo }}">
                    <h5>{{ category.name }}</h5>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
