{% extends "base.html.twig" %}

{% block title %}
    Catalogue - Behive
{% endblock %}

{% block body %}
    {% include "pages/front/partial/menu.html.twig" %}

    <div id="catalogue" class="main">
        <div class="flexContent">
        {% for game in games %}
            {% if loop.index is odd %}
                <div class="item">
                    <a href="">
                        <div class="containImage">
                            <img src="{{ asset(game.cover)}}" />
                            <div class="bgImg"></div>
                        </div>
                        <h3>{{ game.name }}</h3>
                        <h4>
                            {% for category in game.categories %}
                                {{ category.name }}
                            {% endfor %}
                        </h4>
                    </a>
                </div>
            {% else %}
                <div class="item right">
                    <a href="">
                        <div class="containImage">
                            <img src="{{ game.cover }}">
                            <div class="bgImg"></div>
                        </div>
                        <h3>{{ game.name }}</h3>
                        <h4>
                            {% for category in game.categories %}
                                {{ category.name }}
                            {% endfor %}
                        </h4>
                    </a>
                </div>
            {% endif %}
        {% endfor %}
        </div>
        <div class="filtrer">
            <i class="fa fa-filter fa-2x"></i>
            <h4>Filtrer</h4>
            <div class="tableauFiltrer">
                {% for category in categories %}
                    <div class="itemFiltrer">
                        <img src="{{ category.logo }}">
                        <h5>{{ category.name }}</h5>
                    </div>
                {% endfor %}
                <div style="clear:both"></div>
            </div>
            <div class="closeFiltre">
                VALIDER
            </div>
        </div>
    </div>
    <div class="loader"></div>
    <div class="tuto"><h3>Tirez pour afficher la suite !</h3></div>
{% endblock %}
