{% extends "base.html.twig" %}

{% block title %}
    Catalogue - Behive
{% endblock %}

{% block body %}
    {% include "pages/front/partial/menu.html.twig" %}

    <div id="catalogue" class="main">
        <h2 class="titleCategorieCatalogue">Jeux du moment</h2>

        <div class="flexContent">
            {% for game in games %}
                <div class="item">
                    <a href="{{ path('game', {id:game.id}) }}">
                        <div class="containImage">
                            <img src="{{ asset(game.cover)}}" alt="">
                            <div class="bgImg"></div>
                        </div>
                        <h3>{{ game.name }}</h3>
                        <h4>
                            {% for category in game.categories %}
                                {{ category.name }}
                            {% endfor %}
                        </h4>
                    </a>
                </div>
            {% endfor %}
        </div>

        {% include "pages/front/partial/_module_category.html.twig" with {category: action, class: "Action"} %}

        {% include "pages/front/partial/_module_category.html.twig" with {category: fps, class: "Plateforme"} %}

        {% include "pages/front/partial/_module_category.html.twig" with {category: rpg, class: "Voiture"} %}

        <div class="sectionCatalogue autresCat">
            <h2 class="titleCategorieCatalogue">Autres catégories</h2>
            <ul>
                {% for category in categories %}
                    <li>
                        <a href="{{ path('search', {filter: category.name|lower|url_encode}) }}">
                            <h5>{{ category.name }}</h5>
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>

    </div>
{% endblock %}
