{% extends "base.html.twig" %}

{% block title %}
    Challenge - Behive
{% endblock %}

{% block body %}
    {% include "pages/front/partial/menu.html.twig" %}

    <div id="challenges" class="main push">
        {% if dailyChallenge|length %}
            <h2>Challenge du jour</h2>
            <div class="cDay">
                <h3 class="titleDay">{{ dailyChallenge.game.name }}</h3>
                <div class="dayChallenge">
                    <img src="{{ dailyChallenge.cover }}">
                    <h2 class="detail-title">{{ dailyChallenge.name }}</h2>
                </div>
                <div class="descriptionChallenge">
                    <h3>Seuils d'expérience:</h3>
                    <div class="contentText">
                        <h3><span class="position">#1</span> <span class="date">3000 points</span></h3>
                        <h3><span class="position">#2 - #150</span> <span class="date">1000 points</span></h3>
                        <h3><span class="position">#150 - #1200</span> <span class="date">800 points</span></h3>
                        <h3><span class="position">#1200 - #3000</span> <span class="date">200 points</span></h3>
                    </div>
                    <a class="detail-button">
                        S'INSCRIRE
                    </a>
                </div>
            </div>
        {% endif %}

        <h2>Autres challenges</h2>
        {% for challenge in challenges %}
            <div class="day">
                <div class="dayChallenge">
                    <img src="{{ challenge.cover }}" alt="">
                    <h2 class="detail-title">{{ challenge.name }}</h2>
                    <h4 class="center"><a href="{{ path('game', {id: challenge.game.id}) }}">{{ challenge.game.name }}</a></h4>
                </div>
                <div class="descriptionChallenge">
                    <h3>Seuils d'expérience:</h3>
                    <div class="contentText">
                        {% for limit in challenge.limits %}
                            <p><span class="position">{{ limit.begin }} - {{ limit.end }}</span> <span class="date">{{ limit.points }} points</span></p>
                        {% endfor %}
                    </div>
                    <a class="boutonSubmit detail-button" href="{{ path('homepage') }}">
                        Participer
                    </a>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
