{% extends "base.html.twig" %}

{% block title %}
    Forum - Behive
{% endblock %}

{% block body %}
    {% include "pages/front/partial/menu.html.twig" %}

    <div class="push">
        <div id="forum" class="main">
            {% if app.user %}
                <a href="{{ path('forum_subject_create') }}" class="detail-button">Créer un nouveau sujet</a>
            {% else %}
                <a href="{{ path('register') }}" class="detail-button">S'inscrire</a><a href="{{ path('front_login') }}" class="detail-button">Connexion</a>
            {% endif %}

            <h2>Récents</h2>

            <div class="chat">
                <div class="message lighten">
                    <a href="forum-chat.html">
                        <div class="image">
                            <div class="avatar">
                                <img src="images/rayman.png" alt="">
                            </div>
                        </div>
                        <div class="content">
                            <h3>League of Legends / Champions</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                            <i>12h - Mar. 21</i>
                        </div>
                        <div class="clear"></div>
                    </a>
                </div>
                <div class="message darken">
                    <a href="forum-chat.html">
                        <div class="image">
                            <div class="avatar">
                                <img src="images/rayman.png" alt="">
                            </div>
                        </div>
                        <div class="content">
                            <h3>League of Legends / Champions</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                            <i>12h - Mar. 21</i>
                        </div>
                        <div class="clear"></div>
                    </a>
                </div>
                <div class="message lighten">
                    <a href="forum-chat.html">
                        <div class="image">
                            <div class="avatar">
                                <img src="images/rayman.png" alt="">
                            </div>
                        </div>
                        <div class="content">
                            <h3>League of Legends / Champions</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                            <i>12h - Mar. 21</i>
                        </div>
                        <div class="clear"></div>
                    </a>
                </div>
                <div class="message darken">
                    <a href="forum-chat.html">
                        <div class="image">
                            <div class="avatar">
                                <img src="images/rayman.png" alt="">
                            </div>
                        </div>
                        <div class="content">
                            <h3>League of Legends / Champions</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                            <i>12h - Mar. 21</i>
                        </div>
                        <div class="clear"></div>
                    </a>
                </div>
                <div class="message lighten">
                    <a href="forum-chat.html">
                        <div class="image">
                            <div class="avatar">
                                <img src="images/rayman.png" alt="">
                            </div>
                        </div>
                        <div class="content">
                            <h3>League of Legends / Champions</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                            <i>12h - Mar. 21</i>
                        </div>
                        <div class="clear"></div>
                    </a>
                </div>
                <div class="message darken">
                    <a href="forum-chat.html">
                        <div class="image">
                            <div class="avatar">
                                <img src="images/rayman.png" alt="">
                            </div>
                        </div>
                        <div class="content">
                            <h3>League of Legends / Champions</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                            <i>12h - Mar. 21</i>
                        </div>
                        <div class="clear"></div>
                    </a>
                </div>
                <div class="message lighten">
                    <a href="forum-chat.html">
                        <div class="image">
                            <div class="avatar">
                                <img src="images/rayman.png" alt="">
                            </div>
                        </div>
                        <div class="content">
                            <h3>League of Legends / Champions</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                            <i>12h - Mar. 21</i>
                        </div>
                        <div class="clear"></div>
                    </a>
                </div>
                <div class="message darken">
                    <a href="forum-chat.html">
                        <div class="image">
                            <div class="avatar">
                                <img src="images/rayman.png" alt="">
                            </div>
                        </div>
                        <div class="content">
                            <h3>League of Legends / Champions</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                            <i>12h - Mar. 21</i>
                        </div>
                        <div class="clear"></div>
                    </a>
                </div>
                {% for subject in subjects %}
                    <div class="message {% if loop.index is odd %}lighten{% else %}darken{% endif %}">
                        <a href="{{ path('forum_subject', {id:subject.id}) }}">
                            <div class="image">
                                <div class="avatar">
                                    <img src="{{ subject.game.cover }}" alt="">
                                </div>
                            </div>
                            <div class="content">
                                <h3>{{ subject.name }} / {{ subject.game.name }}</h3>
                                <p>{{ subject.content }}</p>
                                <i>{{ subject.lastUpdate }}</i>
                            </div>
                            <div class="clear"></div>
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

    {% include "pages/front/partial/forum_menu.html.twig" %}
{% endblock %}
