{% extends "base.html.twig" %}

{% block title %}
    {{ game.name }} - Behive
{% endblock %}

{% block body %}
    {% include "pages/front/partial/menu.html.twig" %}

    <div id="detail" class="push">
        <div class="detail-header">
            <img src="{{ asset(game.cover) }}" alt="" class="detail-img">
        </div>
        <h2 class="detail-title">
            {{ game.name }}
        </h2>

        <p class="detail-tags">
            {% for category in game.categories %}
                {{ category.name }} {% if(loop.index != game.categories|length) %},{% endif %}
            {% endfor %}
        </p>

        <div class="detail-infos">
            <p>Pegi {{ game.pegi }}</p>

            <ul class="detail-heart">
                {% for i in 1..5 %}
                    {% if game.rating >= loop.index %}
                        <li><i class="fa fa-heart actif"></i></li>
                    {% else %}
                        <li><i class="fa fa-heart"></i></li>
                    {% endif %}
                {% endfor %}
            </ul>

            <br>
            <p {% if game.description|length < 400 %}style="width: 500px;"{% endif %}>
                {{ game.description|raw }}
            </p>
            <a style="border-bottom:1px solid #f7ca18; padding-bottom: 5px;" href="{{ path('catalogue') }}">
                <br /><br />
                Retour au catalogue
            </a>

            <div class="clear"></div>
        </div>

        <div class="center">
            {% if hasIt != true %}
                <a href="{{ game.buy }}" class="margin-r-5 detail-button">
                    <i class="fa fa-download"></i> Télécharger
                </a>

                {% if app.user %}
                    <a href="{{ path('game_add', {id:game.id}) }}" class="margin-l-5 detail-button ajax-link" data-info="game:add">
                        <i class="fa fa-plus"></i> J'ai déjà ce jeu
                    </a>
                {% endif %}
            {% else %}
                {% if app.user %}
                    <a href="{{ path('game_remove', {id:game.id}) }}" class="margin-l-5 detail-button ajax-link valid" data-info="game:remove">
                        <i class="fa fa-plus"></i> J'ai ce jeu
                    </a>
                {% endif %}
            {% endif %}
        </div>

        <div class="sectionCatalogue autresCat">
            <h2 class="titleCategorieCatalogue">Challenges associés</h2>
            <ul>
                {% if game.challenge|length %}
                    {% for challenge in game.challenge %}
                        <li>
                            <a href="">
                                <h5>{{ challenge.name }}</h5>
                            </a>
                        </li>
                    {% endfor %}
                {% else %}
                    Aucun challenge n'est associé à ce jeu pour le moment.
                {% endif %}
            </ul>
        </div>

        <div class="push">
            <a href="#" class="detail-com"><i class="fa fa-comments"></i>Laisser un commentaire</a>
        </div>
    </div>

{% endblock %}
