{% extends "base.html.twig" %}

{% block title %}Profil{% endblock %}

{% block body %}

    {% include "pages/front/partial/menu.html.twig" %}

    <div id="profil" class="main profil_main">
        <div class="profil_header">
            <div class="img_profil">
                <img src="{{ asset(app.user.avatar) }}" width="164px" height="164px">
            </div>

            <h2 class="rang" style="font-weight: 400;">{{ app.user.username }}</h2>
            {% for badge in app.user.badges %}
                <h3 class="rang">{{ badge.name }}</h3>
            {% endfor %}

            <p class="rang profil_xp">
                Expérience: {{ app.user.xp }} xp
            </p>
            <div class="rang detail-bar"></div>

            <h3 class="rang littleTitle connexion profil_date" style="font-size:17px; text-transform: none;">Dernière connexion: {{ app.user.lastConnexion|date }}</h3>

            <h3 class="rang profil_niveau" style="float:right; font-weight:400;">Niveau</h3>
            <h2 class="rang profil_lvl_number" style="float:right;">{{ app.user.level }}</h2>
        </div>

        <div class="profil_recompense">
            <div>
                <h2 class="title_profil">Récompenses</h2>
            </div>
            <div class="recompenses">
                <ul>
                    <li class="jeuGG"><img src="img/candy.png" /><p>Jeu gagné : Candy Crush</p></li>
                    <li class="tropheeGG"><img src="img/trophee.svg" /><p>Challenge FIFA 16 : 3000 expérience - #1</p></li>
                    <li class="jeuGG"><img src="img/clash.png" /><p>Jeu gagné : Clash of Clans</p></li>
                    <li class="tropheeGG"><img src="img/trophee.svg" /><p>Challenge Rayman : 1000 expérience - #37</p></li>
                    <li class="tropheeGG"><img src="img/trophee.svg" /><p>Challenge Songpop : 1000 expérience - #24</p></li>
                    <li class="jeuGG"><img src="img/rayman.png" /><p>Jeu gagné : Rayman Adventures</p></li>
                    <li class="jeuGG"><img src="img/rayman.png" /><p>Jeu gagné : Rayman Adventures</p></li>
                    <li class="tropheeGG"><img src="img/trophee.svg" /><p>Challenge King of Thieves : 3200 expérience - #89</p></li>
                    <li class="jeuGG"><img src="img/clash.png" /><p>Jeu gagné : Clash of Clans</p></li>
                    <li class="tropheeGG"><img src="img/trophee.svg" /><p>Challenge Clash of Clans : 2000 expérience - #121</p></li>
                    <li class="jeuGG"><img src="img/candy.png" /><p>Jeu gagné : Candy Crush</p></li>
                    <li class="tropheeGG"><img src="img/trophee.svg" /><p>Challenge Rayman : 1500 expérience - #143</p></li>
                </ul>
            </div>
        </div>

        <div class="recomp_jeux">
            <div class="profil_challenge">
                <h2>Challenges ({{ app.user.challenges|length }})</h2>

                <div class="contentText">
                    {% for challenge in app.user.challenges %}
                        <h3><span class="position">#253</span><a href="{{ path('challenge') }}" class="title">{{ challenge.name }}</a></h3>
                    {% endfor %}

                    <br>
                    <a class="boutonSubmit" href="{{ path('challenge') }}">Voir tous les challenges...</a>
                </div>
            </div>

            <div class="profil_jeux">
                <h2>Jeux ({{ app.user.games|length }})</h2>

                <div class="contentText">
                    {% for game in app.user.games %}
                        <h3><a href="{{ path('game', {id:game.id}) }}">{{ game.name }}</a></h3>
                    {% endfor %}

                    <br>
                    <a href="{{ path('catalogue') }}" class="boutonSubmit">Voir tous les jeux...</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
