{% extends "base.html.twig" %}

{% block title %}Profil{% endblock %}

{% block body %}

    {% include "pages/front/partial/menu.html.twig" %}

    {% include "pages/front/partial/notification.html.twig" %}

    <div id="profil" class="main profil_main">
        <div class="profil_header">
            <div class="img_profil">
                <img src="{{ asset(user.avatar) }}" width="164px" height="164px">
            </div>

            <h2 class="rang" style="font-weight: 400;">{{ user.username }}</h2>

            {% if user.activeBadge %}
                <p>{{ user.activeBadge.name }}</p>
            {% endif %}

            <p class="rang profil_xp">
                Expérience: {{ user.xp }} xp
            </p>
            <div class="rang detail-bar"></div>

            <h3 class="rang littleTitle connexion profil_date" style="font-size:17px; text-transform: none;">Dernière connexion: {{ user.lastConnexion| localizeddate('full', 'none', 'fr') }}</h3>

            <h3 class="rang profil_niveau" style="float:right; font-weight:400;">Niveau</h3>
            <h2 class="rang profil_lvl_number" style="float:right;">{{ user.level }}</h2>
        </div>

        <div class="profil_recompense">
            <div>
                <h2 class="title_profil">Récompenses</h2>
            </div>
            <div class="recompenses">
                {% if user.positions|length %}
                    <ul>
                        {% for position in user.positions %}
                            <li><img src="{{ asset(position.challenge.game.cover) }}" alt=""><p>{{ position.award.name }}</p></li>
                        {% endfor %}
                    </ul>
                {% else %}
                    <p>Aucune récompense pour le moment. {% if app.request.attributes.get('_route') == "profil" %}<a href="{{ path('challenge') }}" class="behive-color">Participer à des challenges !</a>{% endif %}</p>
                {% endif %}
            </div>
        </div>

        <div class="recomp_jeux">
            <div class="profil_challenge">
                <h2>Challenges ({{ user.challenges|length }})</h2>

                <div class="contentText">
                    {% for position in user.positions %}
                        <h3><span class="position">#{{ position.position }}</span><a href="{{ path('challenge') }}" class="title">{{ position.challenge.name }}<br> ({{ position.challenge.game.name }})</a></h3>
                    {% endfor %}

                    <br>
                    <a class="boutonSubmit" href="{{ path('challenge') }}">Voir tous les challenges...</a>
                </div>
            </div>

            <div class="profil_jeux">
                <h2>Jeux ({{ user.games|length }})</h2>

                <div class="contentText">
                    {% for game in user.games|slice(0, 10) %}
                        <h3><a href="{{ path('game', {slug:game.slug}) }}">{{ game.name }}</a></h3>
                    {% endfor %}

                    <br>
                    <a href="{{ path('search', {user:user.id}) }}" class="boutonSubmit">Voir tous les jeux...</a>
                </div>
            </div>
        </div>

        <div class="sectionCatalogue autresCat">
            <h2 class="titleCategorieCatalogue">Badges possédés</h2>
            {% if user.badges|length %}
                <ul>
                    {% for badge in user.badges %}
                        <li>
                            <a href="{{ path('profil_active_badge', {id: loop.index0}) }}">
                                <h5>{{ badge.name }}</h5>
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            {% else %}
                <div>
                    <p>Aucune badge pour le moment.</p>
                </div>
            {% endif %}
        </div>

        {% if app.request.attributes.get('_route') == "profil" %}
            <div class="center push">
                <p>Synchroniser votre compte Behive avec steam</p>

                <div class="little-push">
                    <a href="{{ path('sync_steam') }}" class="detail-button sync-steam">Synchroniser</a>
                </div>
            </div>
        {% endif %}

        {% if app.request.attributes.get('_route') == "profil" %}
            <div class="little-push">
                {{ form_start(form) }}
                {{ form_widget(form) }}

                <input type="submit" value="Enregistrer">
                {{ form_end(form) }}
            </div>
        {% endif %}
    </div>
{% endblock %}
