{% extends "back_base.html.twig" %}

{% block body %}
    <h2>Modifier {{ app.request.get('ressource') }}</h2>

    <div class="row">
        <div class="col-md-12">
            <img src="{{ asset(image) }}" alt="" class="img-responsive center-block edit-img">
        </div>
    </div>

    {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
    {{ form_widget(form) }}
    <div>
        <input type="submit" class="btn btn-warning" value="Modifier">
    </div>
    {{ form_end(form) }}
{% endblock %}
