{% if category %}
    <div class="sectionCatalogue">
        <h2 class="titleCategorieCatalogue">{{ category.name }}</h2>

        <div class="bgSectionCatalogue section{{ class }}"></div>
        <div class="flexContent">
            {% for game in category.games %}
                <div class="item">
                    <a href="">
                        <h3>{{ game.name }}</h3>
                        <h4>
                            {% for category in game.categories %}
                                {{ category.name }}
                            {% endfor %}
                        </h4>
                    </a>
                </div>
            {% endfor %}
        </div>

        <a href="{{ path('search', {filter:category.name|lower|url_encode}) }}" class="hover boutonSubmit">voir plus...</a>
    </div>
{% endif %}
