{% if category %}
    <div class="sectionCatalogue">
        <h2 class="titleCategorieCatalogue">{{ category }}</h2>

        <div class="bgSectionCatalogue section{{ class }}"></div>
        <div class="flexContent">
            {% for game in games %}
                <div class="item">
                    <a href="{{ path('game', {slug:game.slug}) }}">
                        <h3>{{ game.name }}</h3>
                        <h4>
                            {{ game.description|truncate(20, true, '...') }}
                        </h4>
                    </a>
                </div>
            {% endfor %}
        </div>

        <a href="{{ path('search', {filter:category|lower|url_encode}) }}" class="hover boutonSubmit">voir plus...</a>
    </div>
{% endif %}
