<div class="content-box-wrapper">
    <div class="form-group">
        <div class="form-group">
            {{ form_label(form.begin, "Début") }}
            {{ form_widget(form.begin) }}
        </div>

        <div class="form-group">
            {{ form_label(form.end, "Fin") }}
            {{ form_widget(form.end) }}
        </div>

        <div class="form-group">
            {{ form_label(form.points, "Points") }}
            {{ form_widget(form.points) }}
        </div>

        <div class="form-group">
            {{ form_label(form.awards, "Récompenses") }}
            {{ form_widget(form.awards) }}
        </div>
    </div>
</div>
